{% extends 'base.html' %}


{% block head %}
<title> Home </title>
{% endblock head %}


{% block body %}
<br>
<h1>Home Page Wahyu</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the WAW Programmer Blog! Here we'll be talking about everything computer science.
                Basics, frameworks, machine learning, other data sciene stuff, any new tech or findings, and
                pretty much anything computer science related.
            </p>
            <p>Go visit us at our website <a href="https://baranghalusdev.blogspot.com">Wahyu Blogspot</a>
                to chekcout out more cool stuff beyond just blogs.</p>
            <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to
                toggle the collapsed content.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock body %}